@charset "UTF-8";

* {
    height: 100%;
}

body {

    background-color: #4cb5ae;
    background-attachment: fixed;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width:auto;
    height: auto;
}
h1 {
    text-align:justify, center;
    font-size: 60px;
    background-color: #FFD046; width:auto;
    background-position: center;
    background-size: 40px;
    border-radius: 30px;
    padding: 5px;
    margin: auto;
    width:550px;
    color: #3C3C3B;
}
h2 {
    text-align:justify, center;
    font-size: 25px;
    background-color: #FFD046; width:0;
    background-position: center;
    background-size: 40px;
    border-radius: 30px;
    padding: 10px;
    margin: auto;
    width:780px;
    height:auto;
    color: #3C3C3B;
}
a {
    color: #3C3C3B;
    background-color: #FFD046;
    padding: 10px;
    margin: auto;
    border-radius: 60px;
    line-height: 70px;
    font-size: 30px;
}